.containter {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.blog-content {
  width: 80%;
  height: 200px;
  float: left;
}

.blog-img {
  width: 20%;
  height: 200px;
  float: left;
}

.blog-profile {
  width: 50px;
  float: left;
}

.blog-name {
  float: left;
}
.contetnt {
  clear: both;
}

.navbar li {
  display: inline-block;
  width: 60px;
  text-align: center;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}

.navbar a {
  font-size: 16px;
  text-decoration: none;
}
