.main-background {
  width: 100%;
  height: 500px;
  background-image: url(shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
  position: relative;
}

.main-title {
  color: white;
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
}

.content {
  color: white;
  text-align: center;
}

.main-button {
  padding: 15px;
  font-size: 20px;
  background: white;
  border: none;
  border-radius: 5px;
  position: absolute;
}

.ap-background{
  width: 700px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #eee;
  position: relative;
  top: 80px;
}

.text-input[type = text]{
  padding: 10px;
  font-size: 20px;
  border:  2px solid black;
  border-radius: 5px;
}