.container{
    width: 800;
}

.header{
    width: 100%;
    height: 100px;
    background: aquamarine;
}

.left-menu{
    width: 20% ;
    height: 400px;
    background: cornflowerblue;
    display: inline-block;
    vertical-align: top;
    /* float: left; */
}

.right{
    width: 80%;
    height: 400px;
    background: coral;
    display: inline-block;
    /* float: left; */

}

.footer{
    width: 100%;
    height: 100px;
    background-color: grey;
    /* clear: both; */
}

