.profile {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  font-size: 16px;
}

.content {
  color: red;
}

.box {
  width: 100px;
  margin: 10px;
  background-color: cadetblue;
  border-radius: 5px;
  padding: 40px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  box-shadow: 5px 5px black;
}
